*{
    background-color: rgb(53, 55, 58);
    color:rgb(109, 144, 174);
}
h1{
    text-align: center;
}
#description{
    text-align: center;
}
input, textarea{
    border:rgb(109, 144, 174) solid 1px;
}
button{
    background-color: rgb(109, 144, 174);
    color: rgb(53, 55, 58);
}
.submit_button{
    text-align: center;
    padding:10px;
}

fieldset{
    padding: 20px;
}

section{
    padding: 10px 0px 10px 0px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
